.about-us{
	padding: 0px;
}

.header-desktop{
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 80px;
	padding: 10px 30px;
	background-color: #fff;	
	border-bottom: 2px solid #008c8c;
}

.header-desktop .logo-web{
	margin-top: 10px;
}

.menu-about-us .menu-item{
	color: #008c8c;
	font-family: Bree Serif, Helvetica, sans-serif;
	font-size: 14px;
	cursor: pointer;
	margin-top: 20px;	
	border-radius: 5px;
}

.menu-about-us .menu-item:hover{
	font-weight: 400;
}

.wall-about-us{
	margin-top: 80px;
	height: 470px;
	background-image: url('/image/landing_page.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.wall-about-us .cover{
	padding: 70px 0px 10px 30px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 140, 140, 0.3);
}

.wall-about-us .motto{
	max-width: 500px;
	font-family: Archivo Black, Helvetica, sans-serif;
	color: #fff;
}

.wall-about-us .motto h1{
	font-size: 70px;
}
.wall-about-us .motto h3{
	margin-top: -15px;
	font-size: 38px;
}
.wall-about-us .motto h5{
	font-family: Pacifico, Helvetica, sans-serif;
	font-size: 48px;
}

.about-us-content{
	padding: 30px 20px;
	font-family: Lato, Helvetica, sans-serif;
	background-color: #008c8c;
	color: #fff;
}

.about-us-content h1{
	margin-bottom: 50px;
	font-family: Bree Serif, Helvetica, sans-serif;
}

.about-us-content h3{
	margin-bottom: 15px;
	font-family: Bree Serif, Helvetica, sans-serif;
}

.about-us-content p{
	text-align: justify;
	margin-bottom: 30px;
	font-size: 18px;
}

.contact-us{
	padding: 100px 20px 10px 40px;
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
	margin: -30px 20px 0px -30px;
	min-height: 500px;
}

.contact-us .owner{
	line-height: 120px;
}

.contact-us .owner-name{
	padding: 10px 30px 0px 0px;
}

.contact-us .owner-name h1{
	margin-bottom: -3px;
	font-family: Pacifico, Helvetica, sans-serif;
}

.contact-us .owner img{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border: solid 4px #008c8c;
}

.contact-link{
	padding: 50px 0px 0px 0px;
	font-size: 16px;
}

.contact-link i{
	font-size: 36px;
	cursor: pointer;
}

.contact-link i:hover{
	color: #000;
}