.blog-mobile{
	font-family: segoe ui;
	padding: 0px;
	width: 100%;
}

.blog-mobile .header{
	width: 100%;
	padding: 10px 20px 10px 20px;
	line-height: 100px;
	font-size: 60px;
	color: #fff;
	background-color: #008c8c;
	z-index: 999;
}

.blog-mobile i{
	margin: 15px 0px 0px 5px;
	font-size: 70px;
	color: #fff;
	cursor: pointer;
}

.blog-mobile .blog-list{
	padding-top: 110px;
	width: 80%;
	height: 3000px;
	background-color: #00bbbb;
	position: fixed;
	z-index: 99;
	margin-left: -100%;
}

.blog-mobile .blog-list .menu-item{
	margin: 30px 0px 30px 0px;
	padding: 5px 0px 5px 50px;
	line-height: 70px;
	color: #fff;
	background-color: #008c8c;
	line-height: 50px;
	font-size: 36px;
}

.blog-mobile .blog-list .item{
	margin: 30px 20px 30px 20px;
	padding: 5px;
	color: #fff;
	line-height: 50px;
	font-size: 32px;
	border-radius: 10px;
}

.blog-mobile .blog-mobile-view{
	padding: 130px 20px 20px 20px;
}

.blog-mobile .blog-mobile-view .title{
	text-align: center;
	font-size: 55px;
	color: #008c8c;
}

.blog-mobile .blog-mobile-view .blog-image{
	width: 100%;
	height: 300px;
	background-color: #00bbbb;
	margin: 30px 0px 30px 0px;
}

.blog-mobile .blog-mobile-view .blog-image img{
	width: 100%;
	height: 100%;
}

.blog-mobile .blog-mobile-view .content{
	font-size: 30px;
}