.blog-list{
	margin-top: 30px;
	padding: 30px 150px;
}

.blog-list-item{
	padding: 30px 0px 50px 0px;
	font-family: segoe ui;
}

.blog-list-item h1{
	font-size: 40px;
}

.blog-list-item p{
	text-align: justify;
}

.blog-image img{
	width: 100%;
	height: 330px;
}

.blog-categories{
	position: fixed;
	z-index: 99;
	top: 80;
	padding: 50px 30px;
	background-color: #008c8c;
	width: 310px;
	height: 600px;
	color: #fff;
	font-family: segoe ui;
}

.blog-categories h3{
	margin-top: 50px;
	margin-bottom: 40px;
}

.blog-categories ul{
	width: 100%;
	padding: 10px 30px;
}

.blog-categories li{
	padding: 5px;
	list-style: none;
	font-size: 18px;
	cursor: pointer;
}

.blog-categories li i{
	margin-left: 20px;
	font-size: 20px;
}