.container-fluid{
	padding: 0px;
}

.welcome-desktop .header{
	height: 120px;
	border-bottom: 2px solid #008c8c;
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: #fff;
}

.body-image{
	margin-top: 120px;
	padding: 0px 40px;
	width: 100%;
	height: 500px;
}

.body-image img{
	width: 100%;
	height: 100%;
}

.welcome-menu{
	margin: 30px 20px 0px;
	width: 700px;
	color: #008c8c;
}

.welcome-menu .col-sm-2:hover{
	font-weight: 600;
	cursor: pointer;
}

.welcome-menu i{
	font-size: 28px;
}

.welcome-menu span{
	font-size: 14px;
	font-family: segoe ui;
}

.welcome-desktop .header img{
	margin: 30px 50px;
}

.medsos{
	width: 320px;
	line-height: 60px;
	padding: 5px 20px;
	position: fixed;
	z-index: 99;
	top: 120px;
	right: 30px;
}

.medsos i{
	font-size: 26px;
	color: #008c8c;
	cursor: pointer;
}

.medsos i:hover{
	color: #000;
}

.title-animate{
	position: fixed;
	top: 120px;
	margin-left: 20px;
	max-width: 550px;
}

.title-animate h1{
	font-family: segoe ui;
	font-size: 80px;
	color: #008c8c;
	text-shadow: 4px 4px 8px #ededed;
}